<div class="col mb-4">
    <div class="card movie-card-item">
        <div id="{{this.movieId}}" class="single-page {{textStyle}}">
            {{#if this.posterLink}}
                <a href="/single-movie-page?movieId={{this.movieId}}">
                <img src="{{this.posterLink}}" class="card-img-top movie-card-img"
                     alt="Poster di {{this.movieTitle}}">
                </a>
            {{else}}
                <div class="card-img-top movie-card-img-placeholder d-flex align-items-center justify-content-center"
                     style="height: 320px;">
                    <span>No Image</span>
                </div>
            {{/if}}
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title movie-card-title {{textStyle}}">{{this.movieTitle}}</h5>
            <p class="{{textStyle}}">
                <small>Year:
                    {{#if this.yearOfRelease}}
                        {{this.yearOfRelease}}
                    {{else}} N.D.
                    {{/if}}
                </small>
            </p>
            <a href="/single-movie-page?movieId={{this.movieId}}" class="btn btn-sm {{buttonColor}}">Details</a>
        </div>
    </div>
</div>